<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Informations -->
    <title>MovingApp</title>
    <meta name="author" content="Bio Corp." />
    <meta name="description" content="Descrição do Site" />
    <meta name="keywords" content="finance, manager, personal, produtividade" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />

</head>
<body>

    {{{body}}}
    
    <!-- Scripts -->
    <script src="/assets/js/vendor.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
</body>
</html>